
*{
    margin: 2px;
    padding: 2px;
    font-size-adjust: 1em;
    font-family:cursive;
    font-style: normal;
}

body{
   background-image: linear-gradient(hsla(120, 73%, 85%, 0.7), hsla(291, 73%, 72%, 0.7));
  
    }

p{
    text-align: justify;
    font-size: 1em; /*Esta medida es igual a 18px*/
}
p::before{
   /* content: "Es importante";*/
    background-color: rgb(184, 170, 197);
    font-size: 1rem;
    color: hsla(64, 90%, 54%, 0.959);
}

p footer{
    color: red;
}

h1 {
    text-align: center;
    color: hsla(303, 56%, 35%, 0.952);
    text-emphasis-color: hsla(64, 90%, 54%, 0.959);
    text-shadow: 2px 2px 5px hsla(93, 84%, 22%, 0.877);
}
/*a[href^="https://www.w3schools.com"]::before{
    content: href="link-solid.svg";
}
*/
table{
    width: 100%;
  
    border: 2px solid rgb(180, 20, 180);
    border-collapse: collapse; /* hace que el borde de la tabla sea sencillo y no doble*/
    text-align:center;
    padding: 2px;
    margin: 2px;
}