

.item1{
    grid-area: header;
    background-color: hsla(80, 37%, 36%, 0.904);
    background-image:url(../multimedia/regalo.gif);
    vertical-align: middle;
    }

.item2{
    grid-area: nav;
    background-color: hsla(80, 37%, 36%, 0.925);
    vertical-align: middle;
    font-size: 1.5em;
    position: sticky;
    
    
    }

.item3{
    grid-area: aside1;
   /* background-color: rgb(177, 230, 230);*/
    }

.item4{
    grid-area: main;
    flex-wrap: wrap;
   /* background-color: blueviolet;*/
 /*  background-image: image("../final/multimedia/imagenes/fondo.jpeg");*/
    }

.item5{
    grid-area: aside2;
    position: sticky;
    top: 0;
 /*   background-color: rgb(192, 97, 97);*/
   /* align-items:;*/
    }

.item6{
    grid-area: footer;
    background-color: hsla(80, 37%, 36%, 0.925);
    position: sticky;
    bottom: 0;
    }

.grid-container{
    display: grid;
    grid-template-areas: 
        'header header header header header header'
        'nav nav nav nav nav nav'
        'aside1 main main main main aside2'
        'footer footer footer footer footer footer';
    grid-gap: 10px;
 /*   background-color: black;*/
    padding: 10px;
    }

.grid-container > div {
                   
                    text-align: center;
                    padding: 20px 0;
                    font-size: 1em;
}
